<style>
    body {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 0;
        padding-bottom: 0;
    }
    p {
        font-size: 18px;
        line-height: 1.8;
        margin: 0 0 10px;   
    }
    .demo-header {
        text-align: center;
        background:
            linear-gradient(
              rgba(0, 0, 0, 0.6), 
              rgba(0, 0, 0, 0.6)
            ), 
            url(<%= asset_path "indonaz-chapel.jpg" %>) no-repeat center center scroll;
        color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        padding: 100px 0;
    }
    .demo-header p {
        font-size: 18px;
        line-height: 1.5;
        margin: 0 0 10px;  
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px; 
    }
    .demo-header h1 {
        font-size: 42px;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
    .btn-outline-light:hover, .btn-outline-light:focus {
        color: #ef4035;
        background: white;
        outline: none;
    }
    .btn.focus, .btn:focus, .btn:hover {
        color: #333;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }
    a:focus, a:hover {
        color: #23527c;
        text-decoration: underline;
    }
    a:active, a:hover {
        outline: 0;
    }
    .btn {
        border-radius: 0;
        padding: 12px 18px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
    }
    .btn-outline-light {
        color: white;
        border: 1px solid white;
        background: transparent;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .btn, .input-group-btn {
        border-radius: 0 !important;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    hr.colored {
        border-color: white;
    }
    hr.gray {
        border-color: gray;
    }
    hr {
        max-width: 200px;
        margin: 20px auto;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        height: 2px;
    }
    .preview-pane {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 50px;
        padding: 15px 50px;
    }
    .footer {
        padding: 25px 0;
        color:white;
        background-color: #222222;
    }
    section {
        text-align: center;
        padding: 150px 0;
    }
    section.bg-gray {
        background-color: #f5f5f5;  
    }
    .contact-details, .social {
        margin: 25px 0;
        text-align: center;
    }
    .contact-details a, .social a {
        color: white;
    }
    .footer-below {
        background-color: #233140;
    }
</style>

<div class="row demo-header">
    <div class="demo-header-content">
        <div class="container">
            <h1>Welcome to Indonazarene!</h1>
            <hr class="colored">
            <!-- <p>All of the sample layouts are included with your download. Select an example layout below to preview!</p> -->
            <p>Indonazarene adalah gereja komunitas Indonesia di Bay Area. Kami bernaung dibawah gereja pusat Nazarene.</p>
            <ul class="list-inline cta-list">
                <li>
                    <%= link_to "Visi Kami", static_pages_visi_path, class: "btn btn-outline-light page-scroll-demo" %>
                </li>
                <li>
                    <%= link_to "Misi Kami", static_pages_visi_path, class: "btn btn-outline-light page-scroll-demo" %>
                </li>
            </ul>
        </div>
    </div>
</div>

<section id="jadwal-kebaktian">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Jadwal Kebaktian</h3>
            </div>
        </div>

        <hr class="gray">
        <br>
        <br>
        <br>
    
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <i class="pull-left fa fa-calendar fa-2x"></i>
                <p class="lead text-left">
                    <strong>Kebaktian rutin</strong> diadakan setiap Minggu jam 14:00 di 1650 Ashbury Drive Concord, CA, 94520
                </p>
                <i class="pull-left fa fa-phone fa-2x"></i>
                <p class="lead text-left">
                    Untuk info lebih lanjut, harap hubungi Pastor Grace di 925-683-2748
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <i class="pull-left fa fa-calendar fa-2x"></i>
                <p class="lead text-left">
                    <strong>Persekutuan doa</strong> diadakan setiap Sabtu jam 14:00 di 1650 Ashbury Drive Concord, CA, 94520
                </p>
                <i class="pull-left fa fa-phone fa-2x"></i>
                <p class="lead text-left">
                    Untuk info lebih lanjut, harap hubungi Bpk. Yudi di 925-683-2784
                </p>
            </div>
        </div>
    </div>
</section>


<section id="transport" class="bg-gray">
    <div class="container">
        <div class="row">
            <h3>Welcome DVC Students!</h3>
        </div>
        <hr class="gray">
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <p class="lead">
                    Bagi mahasiswa DVC yang baru datang dan belum memiliki gereja tetap, kami mengundang saudara untuk datang ke kebaktian rutin kami setiap hari Minggu jam 14:00 
                </p>
                <p class="lead">
                    Transportasi disediakan untuk mahasiswa DVC yang tinggal di Northridge atau homestay di daerah Concord/Pleasant Hill/Martinez. Untuk transportasi, harap hubungi Sdr. Edwin di 925-255-3413
                </p>
            </div>
        </div>
    </div>
</section>


<section id="kontak">
    <div class="container">
        <div class="row">
            <h3>Contact</h3>
            <hr class="gray">
            <br>
            <br>
            <br>
            <p class="lead">
                Untuk counseling, kelas katekisasi, atau informasi umum, harap hubungi 1 800-757-8390
                atau email indonazarenechurch@gmail.com
            </p>
        </div>
    </div>
</section>
    
<%= render "shared/footer" %>