<!DOCTYPE html>
<html>
<head>
  <title>Indonazarene</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Custom styles for this template -->
  <link href="http://v4-alpha.getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

</head>
<body>

<%= yield %>

</body>
</html>